.footer{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: #6278F7;
    color: white;
    margin-top: 60px;
    padding: 20px;
}

.footer .social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.footer .social img{
    width: 32px;
    height: 32px;
}

.footer a{
    color: white;
    font-weight: 600;
    transition: all 0.3s linear;
}

.footer a:hover{
    color: #4b5cbb;
}

@media (max-width: 660px) {
    .footer{
        display: block;
        text-align: center;
        margin: 0;
    }
    .footer .social img{
        margin: 10px auto;
    }
}
